* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:white;
}

header,
footer{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #003153;

}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #B5A642
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    display: flex;
    color: #B5A642;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: #B5A642;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.p {
    font-size: 16px;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: plum;
    padding-left: 10;
    padding-right: 10;
}
table {
    width: 75%;
    float: right;
}
table th {
    width: 25%;
}
table img {
    max-width: 200px;
    max-height: 200px;
}
aside {
    flex: 1;
    background-color: #b3cd9e;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.content {
    display: table-cell;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.about {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #55c8dc;
    color: #ffffff;
}

.contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #55c8dc;
    color: #ffffff;
}

.resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #55c8dc;
    color: #ffffff;
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #55c8dc;
    color: #ffffff;
}

/* Added some padding and styling for content images */
.content img {
    max-height: 200px;
    padding: 10px 10px;
    border: 2px solid #bfbfbf;
    background-color: #fff;
}
.content h2 {
    margin-bottom: 20px;
    font-size: 30px;  
}
/*Underlines content headlines when hovering*/
.content h2:hover {
    text-decoration: underline;
}
/* When hovering over the about image, it becomes bigger*/
.about img:hover{
    max-height: 300px;
}

/*aligned text in the footer to the center*/
footer h2,
p {
   text-align: center; 
   color: #ffffff; 
}

/* contact list icons- controls images in the list of contacts*/
.contact ul img {
    display: block;
    margin: 10px auto;
    max-width: 25px;
}

.contact ul {
    display: flex;
    justify-content: space-around;
}

/* makes image float to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* makes image float to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* displays contact list in a line*/
.contact ul li {
    display: inline;
}
/* at 640px or smaller side bar will not show up*/
@media screen and (max-width: 640px) {
aside {
   display: none;
}
/*contect stretches to 100%*/
.content {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

/* Change the header and footer background color */   
header,
footer {
    background: pink;
}

.header {
    display: flex;
    flex-direction: column;
    height: 125px;
    text-align: center;
}
/* display navigation links in a column*/
.header nav ul{
    /* flex-direction: column;  */
    justify-content: center;
}
/*resized the contect image*/
.content img {
    max-height: 125px;
    max-width: 125px;
}
/* Displaying contact list as a column*/
.contact ul {
    flex-direction: column;
}
.contact ul li img {
    float: left;
}
.contact ul li p {
    padding-top: 13px;
    margin-left: 0;    
}
}
/* between 641px and 1007px*/
@media screen and (min-width: 641px; max-width: 1007px) {

}

/* at 1008px and larger */
@media screen and (min-width: 1008px) {
    
}